
*.class
CS316_Cloud_Computing/Assignment 2/.idea/workspace.xml

CS302_OS/lab4/enq

CS302_OS/lab4/deq

CS302_OS/lab4/hello

CS302_OS/lab4/scheduler

CS302_OS/lab4/stat

CS302_OS/lab4/\.vscode/
CS302_OS/lab7/a.out
CS302_OS/lab7/banker
