
*.class
*.bin
*.ipch
ipch
*.ipch
CS302_OS/lab4/enq

CS302_OS/lab4/deq

CS302_OS/lab4/hello

CS302_OS/lab4/scheduler

CS302_OS/lab4/stat
CS302_OS/lab7/a.out
CS302_OS/lab7/banker
*.zip
*/.DS_Store
.DS_Store
*/.vscode
*/.idea
